.box{
    width: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
}

body
{
    background: linear-gradient( green , blue);
}

.todo{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#todoinput{
    margin-bottom: 10px;
}

button{
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 20px;
}